/* Make clicks pass-through */

#nprogress {
    pointer-events: none;

    .bar {
        background: #d14;
        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }

    .peg {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #d14, 0 0 5px #d14;
        opacity: 1.0;
        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
    }

    .spinner {
        display: block;
        position: fixed;
        z-index: 100000;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .spinner-icon {
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        border: solid 7px transparent;
        border-radius: 50%;
        animation: nprogress-spinner 400ms linear infinite, nprogress-spinner-colors 1600ms linear infinite;
    }
}

/* Fancy blur effect */

/* Remove these to get rid of the spinner */

.nprogress-custom-parent {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Tạo nền mờ nếu cần */

    #nprogress {
        .spinner, .bar {
            position: absolute;
        }
    }
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner-colors {
    0%, 100% {
        border-top-color: #4285F4;
        border-left-color: #4285F4;
    }

    25% {
        border-top-color: #F3F3F3;
        border-left-color: #F3F3F3;
    }

    50% {
        border-top-color: #F4B400;
        border-left-color: #F4B400;
    }

    75% {
        border-top-color: #0F9D58;
        border-left-color: #0F9D58;
    }
}
